absl-py
astor==0.7.1
cachetools==2.1.0
certifi==2018.8.24
cffi==1.11.5
chardet
cloudpickle
cycler
dask
decorator
gast
grpcio
h5py
idna
imageio
Keras
Keras-Applications
Keras-Preprocessing
Markdown==2.6.11
matplotlib~=3.9.2
networkx
numpy~=1.26.4
olefile==0.45.1
opencv-contrib-python
opencv-python
pillow>=6.2.0
protobuf
pycparser
pyparsing
python-dateutil
pytz
PyWavelets
pyyaml
requests
resources
scikit-image
scipy
six
staty
spectral
sphinx
tensorboard
termcolor
toolz
urllib3
Werkzeug

tifffile
torch
tensorflow~=2.17.0
scikit-learn~=1.5.2
setuptools~=65.5.1
